<site-header></site-header>
<div class="Site-content" [ngSwitch]="currentView">
    <div class="ui container center aligned">
        <br>
        <br>
        <search-reps *ngSwitchCase="'search'"
                     [reps]="reps"
                     [sender]="sender"
                     (repsChanged)="onRepsChanged($event)"
                     (senderChanged)="onSenderChanged($event)"
                     (next)="nextView()">
        </search-reps>
        <select-rep *ngSwitchCase="'select'"
                    [representatives]="reps"
                    (repSelected)="onRepSelected($event)"
                    (next)="nextView()">
        </select-rep>
        <letter-input *ngSwitchCase="'letter'"
                      [representative]="selectedRep"
                      [sender]="sender"
                      [message]="message"
                      (messageChanged)="onMessageChanged($event)"
                      (next)="nextView()">
        </letter-input>
        <review-and-pay *ngSwitchCase="'pay'"
                        [representative]="selectedRep"
                        [sender]="sender"
                        [message]="message"
                        (next)="nextView()">
        </review-and-pay>
    <br>
    <breadcrumbs [activeStage]="currentViewNumber"
                 [latestStage]="latestViewNumber"
                 (stageClicked)="switchCurrentView($event)">
    </breadcrumbs>
    </div>
</div>
<mission-statement></mission-statement>
<landing-faq></landing-faq>
<site-footer></site-footer>
