@import url('https://fonts.googleapis.com/css?family=Adamina|Lato:300,300i,400,700,900');

#appTitle1 {
    color: #DA2C38;
    font-family: 'Adamina';
    font-size: 40pt;
    display:inline;
}

#appTitle2 {
    color: #282827;
    font-family: 'Adamina';
    font-size: 40pt;
    display:inline;
}