<site-header></site-header>
<div class="ui text container center aligned">
    <h1 id="headerTitle">Send ACTUAL, REAL PHYSICAL letters to your representatives!</h1>
    <p>(we charge $1 for postage and all excess will go to a charity of your choice.)</p>
</div>
<br>
<search-reps [reps]="reps"
             [sender]="sender"></search-reps>
<br>
<div class="whitebox-footer text-center">
    Mostly built by Jesse and a lil bit by Nate and Rob.
</div>
<br>
<br>
<select-rep [representatives]="reps"
            [sender]="sender"></select-rep>
<site-footer></site-footer>

