<div class="ui text container center aligned">
    <p>Write something to {{representative['firstname']}} {{representative['lastname']}} in the textbox below</p>
</div>
<div class="ui container center aligned"
     [formGroup]="form">
    <div class="field">
        <label>Name</label>
        <input type="text" 
               formControlName="name"
               name="name" 
               [(ngModel)]="name"
               placeholder="Name">
    </div>
    <div class="field">
        <label>Letter to mail</label>
        <input id="letterInput" 
               type="text" 
               formControlName="message"
               name="message" 
               [(ngModel)]="message"
               placeholder="Hi Representative, I would like to let you know how I feel.">
    </div>
    <button class="ui blue button" 
            type="submit" 
            (click)="postLetter()"
            [disabled]="!form.valid">Submit
    </button>
</div>

