
<ul>
    <li *ngFor="let representative of representatives" style="list-style: none;">
        <div class="ui radio checkbox">
            <input type="radio" name="radio" (click)="onRepClick(representative)">
            <label>
                <img *ngIf="representative['image-url']"
                 class="ui avatar image" src="http://{{representative['image-url']}}">
                <span>{{representative['firstname']}} {{representative['lastname']}}</span>
            </label>
        </div>
    </li>
</ul>

<letter-input [representative]="rep" *ngIf="repSelected"></letter-input>
