<h1 class="left floated" id="selectTitle">Select a representative to write to:</h1>
<div class="ui three cards" *ngFor="let representative of representatives" >
    <div class="raised card">
        <div class="image">
            <img *ngIf="representative['image-url']"
                 class="ui avatar image" 
                 src="http://{{representative['image-url']}}"
            >
        </div>
        <div class="content">
            <span class= "left floated" id="cardRepName">
                {{representative['firstname']}} {{representative['lastname']}} ({{representative['party']}})
            </span>
            <div class="meta">  
                <span class= "left floated" id="cardRepTitle">
                    {{representative['rectype']}}
                </span>
            </div>
        </div>
        <div class="ui bottom attached button" (click)="onRepClick(representative)">
            Select
        </div>
    </div>    
</div>
<letter-input [representative]="rep" 
              [sender]="sender"
              *ngIf="repSelected">
</letter-input>
