<div class="ui text left aligned container">
  <p>What would you like to say to:</p>
</div>

<div class="ui top attached tabular menu">
  <a *ngFor="let rep of selectedReps; let i = index" [ngClass]="getTabHeaderClass(i)" [attr.data-tab]="i">{{rep['firstname']}} {{rep['lastname']}}</a>
</div>

<div *ngFor="let rep of selectedReps; let i = index" [ngClass]="getTabBottomClass(i)" [attr.data-tab]="i">
  <div id="letter-container" class="ui very padded left aligned container segment">
    <div id="letter-header" class="ui left aligned container ">
      <p>{{rep['prefix']}} {{rep['firstname']}} {{rep['lastname']}}
      <br>{{rep['address']}}
      <br>{{rep['city']}}, {{rep['state']}} {{rep['zip']}}<br><br></p>
      <p id="rep-name">Dear {{rep['rectype']}} {{rep['lastname']}}:<br><br></p>
    </div>
    <div class="ui left aligned container"
        [formGroup]="form">
      <div class="ui form">
        <div class="field">
          <!-- I'd like to see this auto resize and eliminate the resize handle. -->
          <textarea id="letter-textarea"
                    autofocus
                    placeholder="Write your letter here."
                    formControlName="message"
                    (change)="letterChange()"
                    (keyup)="letterChange()">
          </textarea>
        </div>
      </div>
      <div id="letter-salutation" class="ui">
          <p>Sincerely,<br><br></p>
      </div>
      <div class="ui form">
        <div class="field">
          <input id="letter-sender-name"
              class="copyText"
              type="text"
              formControlName="yourname"
              name="yourname"
              (change)="letterChange()"
              (keyup)="letterChange()"
              placeholder="Your Name">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned container">
  <button class="ui medium button"
             id="next-button"
           type="submit"
        (click)="saveLetterAndNext()"
        [disabled]="areLettersWritten()">Next
  </button>
</div>
