@import url('https://fonts.googleapis.com/css?family=Adamina|Lato:300,300i,400,700,900');

#searchRepsButton {
    background-color: #DA2C38;
    color: white;
}

#appTitle1 {
    color: #DA2C38;
    font-family: 'Adamina';
    font-size: 30pt;
    display:inline;
}

#appTitle2 {
    color: #282827;
    font-family: 'Adamina';
    font-size: 30pt;
    display:inline;
}

#search-fields {
    margin-top: 2em;
}

#search-labels {
    text-align: left;
    padding-left: 1em;
    font-family: 'Lato';
    font-size: 12pt;
    font-weight: 300;

}