<div class="ui text left aligned container">
    <p>Please review your letter<span *ngIf="filledLetters.length > 1">s</span> to <span *ngFor="let letter of filledLetters; let i = index"><strong>{{letter.representative['firstname']}} {{letter.representative['lastname']}}</strong><span *ngIf="i < filledLetters.length - 1"> and </span></span>.</p>
</div>
<div class="ui very padded center segment" *ngFor="let letter of filledLetters; let i = index">
    <div id="letter-container" class="ui left aligned container">
            <div id="letter-to-block" class="ui left aligned container ">
                <p>{{letter.representative['prefix']}} {{letter.representative['firstname']}} {{letter.representative['lastname']}}
                <br>{{letter.representative['address']}}
                <br>{{letter.representative['city']}}, {{letter.representative['state']}} {{letter.representative['zip']}}<br><br></p>
                <p>Dear {{letter.representative['rectype']}} {{letter.representative['lastname']}}:<br><br></p>
            </div>
            <div class="ui left aligned container">
                <div class="message-block">
                    <p>{{letter.message}}<br><br><br></p>
                </div>
                <div id="sender-block" class="ui">
                    <p>Sincerely,<br><br>
                    {{letter.name}}<br>
                    {{sender['address']}}<br>
                    <span *ngIf="sender['address2'] != ''">{{sender['address2']}}<br></span>
                    {{sender['city']}}, {{sender['state']}} {{sender['zip']}}
                    </p>
                </div>
            </div>
    </div>
    <div id="loader" class="ui inline loader center" [class.active]="isPosting"></div>
</div>
<br>
<div class="ui center aligned container">
    <button class="ui medium button"
                type="submit"
                [disabled]="isSubmitting"
                (click)="payAndSubmitLetterAndNext()">Pay Postage and Send
    </button>
</div>
