<div id="faqs" class="ui vertical segment">
  <h2>FAQs</h2>
  <div class="left-col">

    <div class="faq">
      <p class="question">How does it work?</p>
      <p class="answer">We help you find your representatives by address. Next you select who you want to send a letter to. After writing a message we print your note and ship it via USPS mail to the represnetatives selected for a small fee.</p>
    </div>

    <div class="faq">
      <p class="question">Why physical mail?</p>
      <p class="answer">There are many services to easily email or fax your representatives. Their is still a barrier to easily mailing your representatives. Furthermore, physical mail is more difficult for your represnetatives to discount.</p>
    </div>

  </div>

  <div class="right-col">

    <div class="faq">
      <p class="question">Why does it cost $1?</p>
      <p class="answer">We charge for two reasons. The first is that their are costs associated with printing and mailing physical letters, as well as collecting that cost. Also by having a charge we can limit the amount of spam that is sent.</p>
    </div>

    <div class="faq">
      <p class="question">How long does it take?</p>
      <p class="answer">We print your letter immediately and it is sent same day. maybe. It usually ships from California so it will depend on your representatives office location. Some representatives offices screen all mail as a security precaution. In general we are using representatives district offices though.</p>
    </div>

  </div>
</div>
